
'.source.gfm':
  'span[@property="rdfs:label"]':
    'prefix': 'slabel'
    'body': '<span property="rdfs:label">$1</span>$2'
    'description': 'A span wrapping a label.'
  'span[@property]':
    'prefix': 'spanp'
    'body': '<span property="$1">$2</span>$3'
    'description': 'A span with a property attribute.'
  'span[@property,@resource]':
    'prefix': 'spanpr'
    'body': '<span property="$1" resource="$2">$3</span>$4'
    'description': 'A span with property and resource attributes.'
  'span[@property,@resource,@typeof]':
    'prefix': 'spanprt'
    'body': '<span property="$1" resource="$2" typeof="$3">$4</span>$5'
    'description': 'A span with property, resource, and typeof attributes.'
